<div class="hub__article-tile" @@getTileStyles@@>
    <div class="hub__article-tile-description">
    <span class="hub__article-title">@@getTitle@@</span>
    <div class="hub__article-buttons">
        <div class="hub__article-button">
        <div class="hub__article-button-icon">
            <i class="gg-heart"></i>
        </div>

        <span class="hub__article-button-value">@@getLikes@@</span>
        </div>
        <div class="hub__article-button">
        <div class="hub__article-button-icon">
            <i class="gg-comment"></i>
        </div>
        <span class="hub__article-button-value">@@getComments@@</span>
        </div>
    </div>
    </div>
</div>